<div class="brands_products">
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'audi' %}"> <span class="pull-right"></span>Audi</a></li>
            <li><a href="{% url 'astonmartin' %}"> <span class="pull-right"></span>Aston Martin</a></li>
            <li><a href="{% url 'bentley' %}"> <span class="pull-right"></span>Bentley</a></li>
            <li><a href="{% url 'bmw' %}"> <span class="pull-right"></span>BMW</a></li>
            <li><a href="{% url 'bugatti' %}"> <span class="pull-right"></span>Bugatti</a></li>
            <li><a href="{% url 'cadillac' %}"> <span class="pull-right"></span>Cadillac</a></li>
            <li><a href="{% url 'chevrolet' %}"> <span class="pull-right"></span>Chevrolet</a></li>
            <li><a href="{% url 'ford' %}"> <span class="pull-right"></span>Ford</a></li>
            <li><a href="{% url 'ferrari' %}"> <span class="pull-right"></span>Ferrari</a></li>
            <li><a href="{% url 'honda' %}"> <span class="pull-right"></span>Honda</a></li>
            <li><a href="{% url 'hyundai' %}"> <span class="pull-right"></span>Hyundai</a></li>
            <li><a href="{% url 'jaguar' %}"> <span class="pull-right"></span>Jaguar</a></li>
            <li><a href="{% url 'jeep' %}"> <span class="pull-right"></span>Jeep</a></li>
            <li><a href="{% url 'lamborghini' %}"> <span class="pull-right"></span>Lamborghini</a></li>
            <li><a href="{% url 'landrover' %}"> <span class="pull-right"></span>Land Rover</a></li>
            <li><a href="{% url 'lexus' %}"> <span class="pull-right"></span>Lexus</a></li>
            <li><a href="{% url 'mercedes' %}"> <span class="pull-right"></span>Mercedes Benz</a></li>
            <li><a href="{% url 'maserati' %}"> <span class="pull-right"></span>Maserati</a></li>
            <li><a href="{% url 'mazda' %}"> <span class="pull-right"></span>Mazda</a></li>
            <li><a href="{% url 'maclaren' %}"> <span class="pull-right"></span>Maclaren</a></li>
            <li><a href="{% url 'nissan' %}"> <span class="pull-right"></span>Nissan</a></li>
            <li><a href="{% url 'porsche' %}"> <span class="pull-right"></span>Porsche</a></li>
            <li><a href="{% url 'rollsroyce' %}"> <span class="pull-right"></span>Rolls Royce</a></li>
            <li><a href="{% url 'toyota' %}"> <span class="pull-right"></span>Toyota</a></li>
        </ul>
    </div>
</div>