{% extends 'hometemplate.html' %}

{% block brands %}
<div class="brands_products">
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#"> <span class="pull-right">(50)</span>Hyundai</a></li>
            <li><a href="#"> <span class="pull-right">(50)</span>Mercedes</a></li>
            <li><a href="#"> <span class="pull-right">(50)</span>MAN</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block container %}

<div class="features_items">
	<h2 class="title text-center">Bus Heaven</h2>
	{% for bus in buses %}
	<div class="col-sm-4">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">

					<img src="{{bus.image.url}}" width="150px" height="150px" />
					<h2>${{ bus.price }}</h2>
					<h4>{{bus.brand}}  {{bus.model}}</h4>
					<a href="{% url 'viewdetails' pk=bus.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>View Details</a>
				</div>
				<!--<div class="product-overlay">
					<div class="overlay-content" >
						<img src="{{home.image.url}}" width="150px" height="150px" style="padding-top:20px;"/>
						<h2>${{ home.price }}</h2>
						<p>{{ home.description}}</p>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
				</div>-->
			</div>
			<div class="choose">
				<ul class="nav nav-pills nav-justified">
					<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
					<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}